default:
  suites:
    default:
      path: features
      contexts:
        - Lepus\LepusContext
  extensions:
    Lepus\LepusExtension:
      host: localhost
      user: guest
      password: guest
