default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Lepus\LepusContext
  extensions:
    Lepus\LepusExtension:
      host: localhost
      user: guest
      password: guest
