default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Lepus\LepusContext
        - FeatureContext
  extensions:
    Lepus\LepusExtension:
      host: kx-01.dvl.local
      user: admin
      password: admin
